<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <h4>Change Password</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="changePasswordForm">
                <div class="form-group row">
                    <label for="curPass" class="col-4 col-form-label">Current Password</label>
                    <div class="col-8">
                        <input id="curPass" name="new-password" placeholder="Current Password" class="form-control here" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPass" class="col-4 col-form-label">New Password</label>
                    <div class="col-8">
                        <input id="newPass" name="new-password" placeholder="New Password" class="form-control here" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmPass" class="col-4 col-form-label">Confirm Password</label>
                    <div class="col-8">
                        <input id="confirmPass" name="confirm-password" placeholder="Confirm Password" class="form-control here" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <button id="btnChangePasswordForm" name="submit" type="submit" class="btn btn-primary">Update My Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>