<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <h4>Dashboard</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="dashboardTable" class="table data-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width: 100px;">Student ID</th>
                        <th>Course Name</th>
                        <th>Quiz Id</th>
                        <th>Score(%)</th>
                    </tr>
                </thead>
                <tbody class="grid-table-body"></tbody>
            </table>
        </div>
    </div>
</div>

<script defer="defer">
    var dashboardTable;
</script>