@model QuizApp.Models.User

<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <h4>My Profile</h4>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row border-bottom-1 p-2">
                <label for="username" class="col-4">User Name</label>
                <div class="col-8">@Model.UserName</div>
            </div>
            <div class="row border-bottom-1 p-2">
                <label for="name" class="col-4">First Name</label>
                <div class="col-8">@Model.FirstName</div>
            </div>
            <div class="row border-bottom-1 p-2">
                <label for="lastname" class="col-4">Last Name</label>
                <div class="col-8">@Model.LastName</div>
            </div>
            <div class="row p-2">
                <label for="email" class="col-4">Email</label>
                <div class="col-8">@Model.Email</div>
            </div>
        </div>
    </div>

</div>