@{
    ViewData["Title"] = "Welcome to";
}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#loginDiv">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#singupDiv">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div id="loginDiv" class="tab-pane active">
                                @(await Html.PartialAsync("_Login"))
                            </div>
                            <div id="singupDiv" class="tab-pane">
                                @(await Html.PartialAsync("_SignUp"))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var AuthURLs = {
        Login: '@Url.Action("Login", "Auth")',
        SignUp: '@Url.Action("Register", "Auth")',
    };
</script>